QPalette{background:#FFFFFF;}*{outline:0px;}


QWidget[form="mainpane"] {
    background: #FFFFFF;
    border: 1px solid #333;
}

QWidget[form="NvrPane"] {
    background: #3eaca8;
}

QWidget[form="NoteViewPane"] {
    background: #FFFFFF;
}

QWidget[form="NoteListPane"] {
    background: #a2d4ab;
}

QWidget[form="NoteListPane"] QLineEdit
{
    padding: 2 10px;
    background: none;
    border: 1px solid #E5E5E5;
    border-radius: 16px;
}

QWidget[form="NoteListPane"] QListView
{
    background: #a2d4ab;
    border: none;
    color: #ffffff;
}

QWidget[form="NoteListPane"] QListView::item:selected
{
    background:#E7F0C3;
    color: #5B5150;
}

QWidget[form="NoteListPane"] QListView::item:hover
{
    background:#E7F0C3;
    color: #5A5050;
}

QWidget[form="NoteViewPane"] QLineEdit
{
    border: none;
    padding: 2 20px;
    background: #FFFFFF;
    font-size: 30px;
    border-bottom: 1px solid #EEEEEE;
}

QWidget[form="NoteViewPane"]
{
    background-image:url(:/img/img/empty.png);
    background-position:center;
    background-repeat:no-repeat;
}

QLabel[navbtnicon="true"] {
    color: #fff;
}

QLabel[navbtntitle="true"] {
    color: #fff;
}

QWidget[form="NoteListPane"] QLabel[navbtntitle="true"], QWidget[form="NoteListPane"] QLabel[navbtnicon="true"]{
    color: #5A5050;
}

QLabel[navbtntime="true"] {
    color: #5A5050;
}

QPushButton#m_btnNewNote {
    color: #fff;
    font-size: 14px;
    border-radius: 20px;
    background: #5576BD;
}

QPushButton#m_btnNewNote:hover {
    background: #445E97;
}

QPushButton#m_btnNewNote:pressed {
    background: #445E97;
}

QPushButton#m_btnNewNote:checked {
    background: #445E97;
}

QPushButton#m_btnNewNote:disabled {
    background: #D7D7D7;
}

QWidget[form="NoteItem"] QPushButton {
    color: #605E5C;
    font-size: 14px;
    background: none;
}

QWidget[form="NoteItem"] QPushButton:hover {
	color: #000;
}

QWidget[form="NoteItem"] QPushButton:pressed {
	color: #000;
}

QWidget[form="NoteItem"] QPushButton:checked {
	color: #000;
}

QWidget[form="NoteItem"] QPushButton:disabled {
	color: #333;
}

QListView
{
    background: #3eaca8;
    border: none;
    color: #ffffff;
}

QListView::item:selected
{
    background:#5a5050;
}

QListView::item:hover
{
    background:#5a5050;
}

QListView::item
{
    border-bottom: 0px solid #333;
    padding-left: 20px;
}

/*************************************************
*  iconfont 按钮
*************************************************/

.IconfontBtn
{
    background:none;
    border-style:none;
    color:#695d5d;
}

.IconfontBtn:hover
{
    color:#000;
}

.IconfontBtn:pressed
{
    color:#000;
}

.IconfontBtn:checked
{
    color:#000;
}

.IconfontBtn:disabled
{
    color:#D7D7D7;
}


QPushButton[title_btn="true"] 
{
    background: none;
    color:#3B4D62;
    font-weight: 100;
}

QPushButton[title_btn="true"]:hover 
{
    background: #E8F0FF;
    color:#3B4D62;
}

QPushButton[title_btn="true"]:pressed 
{
    background: #D2E2FF;
    color:#3B4D62;
}

QPushButton[title_btn="true"]:disabled {
    background: #E8F0FF;
    color:#3B4D62;
}

QWidget[form="About"] 
{
	border-radius: 10px;
    background: #E5EEC1;;
}

QWidget[form="About"] QLineEdit
{
	padding: 2 2px;
}

QPushButton[default_btn="true"] {
	background: #6656F5;
	color: #fff;
	border: none;
	border-radius: 5px;
}

QPushButton[default_btn="true"]:hover {
	background: #3b2ad6;
}

QMenu
{
        background-color : rgb(253,253,254);
        padding:0px;
        border-radius:15px;
}

QMenu::item
{
        font-size:10pt;
        color: rgb(0,0,0);
        background-color:rgb(253,253,254);
        padding: 8px 25px 6px 15px;
        margin: 0px;
}

QMenu::item:selected
{
        background-color : rgb(236,236,237);
}

QMenu::right-arrow
{
        image:url(:/qss/res/right_arrow.png);
}

QMenu::icon:checked
{
        background: rgb(253,253,254);
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
}

QMenu::icon:checked:selected
{
        background-color : rgb(236,236,237);
}

QMenu::separator
{
        height: 1px;
        background: #E6E8EB;
}

QLineEdit
{
        padding: 3 3px;
        background: #E5EEC1;
        border: 1px solid #333;
}

QScrollBar:horizontal
{
        background:none;
        padding:0px;
        border-radius:6px;
        max-height:12px;
}

QScrollBar::handle:horizontal
{
background:#181818;
min-width:50px;
border-radius:6px;
}

QScrollBar::handle:horizontal:hover
{
background:#2A2C32;
}

QScrollBar::handle:horizontal:pressed
{
background:#2A2C32;
}

QScrollBar::add-page:horizontal{
background:none;
}

QScrollBar::sub-page:horizontal
{
background:none;
}

QScrollBar::add-line:horizontal
{
background:none;
}

QScrollBar::sub-line:horizontal
{
background:none;
}

QScrollBar:vertical
{
        background:#E6E8EB;
        padding:0px;
        border-radius:4px;
        max-width:8px;
}

QScrollBar::handle:vertical
{
        background:#92969B;
        min-height:50px;
        border-radius:4px;
}

QScrollBar::handle:vertical:hover
{
background:#2A2C32;
}

QScrollBar::handle:vertical:pressed
{
background:#2A2C32;
}

QScrollBar::add-page:vertical
{
background:none;
}

QScrollBar::sub-page:vertical
{
background:none;
}

QScrollBar::add-line:vertical{
background:none;
}

QScrollBar::sub-line:vertical{
background:none;
}






